li {
  padding-left: 2em;
}

.message_body {
  padding-top: 1em;
}

.message_well {
  border: 1px solid black;
  border-radius: 45px;
  margin: 1em;
}

#brand {
  font-weight: bold;
}

#form-button {
  margin-top: 1em;
}

#welcome {
  font-size: 1.5em;
}
