<% if object.errors.any? %>
  <div class="well">
    <h4>Oh shit!</h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
