<% if object.errors.any? %>
  <div class="well">
    <h4>Oh shit!</h4>
    <ul class="list-unstyled">
      <% object.errors.full_messages.each do |message| %>
        <li><i class="fa fa-exclamation"></i> - <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
